  .home-eventos{
    display: flex;
    gap: 40px;
    background-color: var(--cor1);
  }

  .facebook-bloco{
    display: flex;
    justify-content: center;
    gap: 60px;
    background-color: var(--cor2);
    padding: 80px 100px;
    flex-wrap: wrap;
  }
  

  .facebook-left {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .facebook-left iframe{
    border: none;
    border-radius: 16px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
  }
  
  .facebook-right{
    flex: 1;
    max-width: 450px;
    color: var(--cor5);
    display: flex;
    flex-direction: column;
   
  }
  
  .facebook-right h1{
    margin-bottom: 1rem;
    text-align: start;
    color: #0e1f36;
  }

  .facebook-right p {
    line-height: 1.6;
    text-align: justify;
}

.destaque{
  font-weight: bolder;
  margin-top: 30px;
}
  
  /* --- CELULARES (até 768px) Mudança vitinho --- */
@media (max-width: 768px) {
  .facebook-bloco {
    flex-direction: column;
    text-align: center;
    gap: 40px;
    padding: 30px 15px;
    margin: 40px 0;
  }

  .facebook-left iframe {
    border: none;
    border-radius: 16px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
    max-width: 100%;
    max-height: auto;
  }

  .facebook-right {
    max-width: 100%;
    padding: 0 10px;
  }

  .facebook-right h1 {
    max-width: auto;
    max-height: auto;
    font-size: 1.1rem;
    padding: 0 5px;
    text-align: center;
  }
}

/* --- Dispositivos Grandes (768px a 1160px) --- Mudança Vitinho */
@media (min-width: 768px) and (max-width: 1160px) {
  .home-eventos{
    padding: 60px 70px;
  }
  .facebook-bloco {
    flex-direction: column;
    gap: 60px;
    padding: 40px 30px;
    justify-content: center;
    align-items: center;
  }

  .facebook-left iframe {
    border: none;
    border-radius: 16px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
    justify-content: center;
    align-items: center;
  }

  .facebook-right {
    display: flex;
    max-width: 85%;
    align-items: center;
    justify-content: center;
  }

  .facebook-right h1 {
    font-size: 1.2rem;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
}
