/* --- BASE DAS SEÇÕES --- */
.projeto {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 30px;
  gap: 60px;
  width: 100%;
  max-width: 1400px;
  margin: 80px auto 0px auto; /* Centraliza e adiciona respiro */
  box-sizing: border-box; /* evita estourar tela */
  overflow: hidden; /* impede vazar pra fora */
  position: relative;
}

/* texto */
.projeto article {
  max-width: 520px;
}

/* título */
.projeto h1 {
  font-size: 1.9rem;
  font-weight: 700;
  margin-bottom: 20px;
}

/* parágrafo */
.projeto p {
  font-size: 1.1rem;
  line-height: 1.5;
  text-indent: 16px;
}

/* imagem */
.projeto img {
  width: 500px;
  height: auto;
  object-fit: cover;
}


.projeto1 { background-color: #C1E5DF; }
.projeto2 { background-color: #F6CEDD; }
.projeto3 { background-color: #B9C3EE; }
.projeto4 { background-color: #FFDFA4; }

/* --- BORDA ARREDONDADA ALTERNADA --- */
.projeto1, .projeto3 {
  border-radius: 0 80px 80px 0; /* esquerda arredondada */
}

.projeto2, .projeto4 {
  border-radius: 80px 0 0 80px; /* direita arredondada */
}

/* --- CELULARES (até 768px) --- Mudança vitinho*/                          
@media (max-width: 768px) {
  .projeto {
    flex-direction: column;
    gap: 30px;
    padding: 40px 20px;
    border-radius: 0;
    margin: 40px 0px 0px 0px;
    text-align: center;
  }

  .projeto:nth-child(even) { /* Seleciona o 2º, 4º, etc. elemento (índices 1, 3, etc.) */
    flex-direction: column-reverse; /* Inverte a ordem: Texto sobe, Imagem desce */
  }



  .projeto article {
    max-width: 100%;
  }

  .projeto h1 {
    font-size: 1.5rem;
  }

  .projeto p {
    font-size: 1rem;
    line-height: 1.6;
  }

  .projeto img {
    width: 100%;
    max-width: 350px;
    border-radius: 15px;
  }
}

/* --- Dispositivos Grandes (768px a 1160px) --- Mudança vitinho*/
@media (min-width: 768px) and (max-width: 1160px) {
  .projeto {
    flex-direction: column;
    border-radius: 40px;
  }

  .projeto:nth-child(even) { 
    flex-direction: column-reverse; /* Inverte a ordem: Texto sobe, Imagem desce */
  }

  .projeto article {
    max-width: 90%;
  }

  .projeto h1 {
    font-size: 1.7rem;
  }

  .projeto p {
    font-size: 1.05rem;
  }

  .projeto img {
    width: 80%;
    max-width: 400px;
    border-radius: 20px;
  }
}