.carousel {
    width: 100%;            
    max-width: 800px;       
    margin: auto;
    justify-content: center;
}

/* Área da imagem */
.carousel-inner {
    position: relative;     /* permite colocar botões dentro */
}

.carousel-inner img {
    width: 100%;
    border-radius: 10px;
    display: block;
}

/* Botões dentro do carousel */
.btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0,0,0,0.5);
    color: white;
    border: none;
    font-size: 24px;
    cursor: pointer;
    padding: 8px 12px;
    border-radius: 50%;
}

.btn.prev { left: 10px; }
.btn.next { right: 10px; }



/* Bolinhas (dots) */
.dots {
    position: absolute;
    bottom: 12px;          /* distância da borda inferior*/
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 6px;
    margin-top: 10px;
}

.dot {
    height: 12px;
    width: 12px;
    margin: 0 4px;
    display: inline-block;
    border-radius: 50%;
    background: #bbb;
    cursor: pointer;
}

.dot.active {
    background: #333;
}

/* --- CELULARES (até 768px) --- Mudança Vitinho */
@media (max-width: 768px) {
    .carousel {
      max-width: 100%;
      padding: 0px;
    }
  
    .carousel-inner img {
      border-radius: 6px;
    }
  
    .btn {
      font-size: 18px;
      padding: 6px 8px;
    }
  
    .dots {
      bottom: 8px;
      gap: 4px;
    }
  
    .dot {
      height: 10px;
      width: 10px;
    }
  }

  /* --- Dispositivos Grandes (768px a 1160px) Mudança Vitinho --- */
@media (min-width: 768px) and (max-width: 1160px) {
    .carousel {
      max-width: 700px;
    }
  
    .btn {
      font-size: 22px;
      padding: 7px 10px;
    }
  
    .dot {
      height: 11px;
      width: 11px;
    }
  }
 