.admim-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 0;
    background-color: #f3fff5;
    min-height: 90vh;
  }
  
  .admim-card {
    display: flex;
    background: linear-gradient(to right, #fff, #e9eefc);
    border-radius: 20px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    width: 800px;
    max-width: 95%;
  }
  
  .admim-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .admim-image {
    flex: 1;
  }
  
  .admim-form {
    flex: 1;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(135deg, #1E2447, #4554A2);
    color: white;
  }
  
  .admim-form h2 {
    margin-bottom: 20px;
    text-align: center;
  }
  
  .admim-form label {
    font-weight: 500;
    margin-top: 10px;
  }
  
  .admim-form input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 8px;
    border: none;
    outline: none;
  }
  
  .esqueceu-senha {
    color: #ecefff;
    font-size: 0.9em;
    margin-top: 10px;
    display: inline-block;
  }
  
  .btn-entrar {
    background-color: #B1DBD8;
    color: #1F2649;
    border: none;
    padding: 10px 20px;
    margin-top: 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .btn-entrar:hover {
    background-color: #6cd1cc;
    color: #1f2e7c;
  }
  
  @media (max-width: 768px) {
    .admim-container {
      padding: 40px 20px;
    }
  
    .admim-card {
      flex-direction: column;
      width: 100%;
      max-width: 450px;
      box-shadow: none;
      border-radius: 15px;
    }
  
    /* Oculta ou reduz a imagem */
    .admim-image {
      display: none;
    }
  
    .admim-form {
      padding: 30px 25px;
      border-radius: 15px;
      background: linear-gradient(160deg, #1E2447, #4554A2);
    }
  
    .admim-form h2 {
      font-size: 1.5rem;
      margin-bottom: 15px;
    }
  
    .admim-form label {
      font-size: 0.9rem;
    }
  
    .admim-form input {
      padding: 10px;
      font-size: 0.9rem;
    }
  
    .esqueceu-senha {
      font-size: 0.85rem;
    }
  
    .btn-entrar {
      font-size: 0.95rem;
      padding: 10px;
      margin-top: 15px;
    }
  
    .registro-texto {
      font-size: 0.85rem;
      margin-top: 12px;
    }
  }
  
  /* Dispositivos Grandes: 768px a 1160px */
  @media (min-width: 768px) and (max-width: 1160px) {
    .admim-card {
      flex-direction: column;
      width: 90%;
      max-width: 700px;
    }
  
    .admim-form {
      padding: 35px 40px;
    }
  
    .admim-form h2 {
      font-size: 1.6rem;
    }
  
    .admim-form label {
      font-size: 0.95rem;
    }
  
    .admim-form input {
      font-size: 0.95rem;
      padding: 9px;
    }
  
    .btn-entrar {
      font-size: 1rem;
      padding: 12px;
    }
  }