.facebook-bloco{
    display:flex;
    justify-content:center;
    gap:100px;
    flex-wrap:wrap;
    background-color: var(--cor2);
    padding: 20px;
  }
  
  .facebook-left iframe{
    border-radius:10px;
    box-shadow:0 4px 12px rgba(0,0,0,0.15);
    padding-bottom: 10px;
  }
  
  .facebook-right{
    max-width:400px;
    flex-direction: column;
    color: black;
    border-radius: 10px;
  }
  
  .facebook-right h1{
    text-align: justify;
    padding: 10px;
  }

  
  /* mobile */
  @media(max-width:768px){
    .facebook-bloco{
      flex-direction:column;
      text-align:center;
      margin:40px 0;
    }
  
    .facebook-right{
      max-width:90%;
    }
  }
  