.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px 0;
  background-color: #f3fff5;
  min-height: 90vh;
}

.login-card {
  display: flex;
  background: linear-gradient(to right, #fff, #e9eefc);
  border-radius: 20px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  width: 800px;
  max-width: 95%;
}

.login-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.login-image {
  flex: 1;
}

.login-form {
  flex: 1;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: linear-gradient(135deg, #1E2447, #4554A2);
  color: white;
}

.login-form h2 {
  margin-bottom: 20px;
  text-align: center;
}

.login-form label {
  font-weight: 500;
  margin-top: 10px;
}

.login-form input {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border-radius: 8px;
  border: none;
  outline: none;
}

.esqueceu-senha {
  color: #cdd5ff;
  font-size: 0.9em;
  margin-top: 10px;
  display: inline-block;
}

.btn-entrar {
  background-color: #c2e3e0;
  color: #000;
  border: none;
  padding: 10px 20px;
  margin-top: 20px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.btn-entrar:hover {
  background-color: #a8d1cf;
}

.registro-texto {
  margin-top: 15px;
  font-size: 0.9em;
  text-align: center;
}

.registro-texto a {
  color: #fff;
  text-decoration: underline;
}
