main > div {
    position: relative;
    text-align: center;
    color: white;
  }
  
  main > div img {
    width: 100%;
    height: 320px;
    object-fit: cover;
    filter: brightness(0.6);
  }
  
  main > div h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

.home-section3-sobre{
    background-color: var(--cor1);
}

/* TERCEIRA SECTION*/

.secAcumulados{
    text-align: center;
    background-color: #F9D4E5;
    padding: 60px 10%;
    color: var(--cor4);
}


.secAcumulados h2{
    margin-bottom: 10px;
}
.secAcumulados div{
    display: flex;
    justify-content: center;
    gap: 60px;
}
.secAcumulados p{
  text-align: center;
  margin-bottom: 20px;
}
.secAcumulados article{
    line-height: 1.5;
}
.letraMinuscula{
    font-size: 1.0em;
    font-weight: lighter;
}


/*QUARTA SECTION*/
.secPrincipios{
    background-color: var(--cor2);
    padding: 60px 10%;
    text-align: center;
}
.secPrincipios h1{
    margin-bottom: 40px;
}
.secPrincipios h1::after {
  content: "";
  display: block;
  width: 90%;         /* ajuste o tamanho da linha */
  height: 2px;        /* espessura */
  background: #162039;
  margin: 12px auto 0 auto; /* centraliza a linha */
  opacity: 0.8;       /* deixa um leve suavizado igual ao da imagem */
}
.secPrincipios div{
    display: flex;
    justify-content: center;
    gap: 30px;
}
.secPrincipios article{
    background-color: #1a355b;
    color: white;
    border-radius: 10px;
    padding: 30px 20px;
    width: 280px;
}
.secPrincipios article img{
    width: 40px;
    margin-bottom: 15px;
}
.secPrincipios article h2{
    margin-bottom: 10px;
    font-size: 1.2em;
}
.secPrincipios article p{
    line-height: 1.4;
    text-align: justify;
}

/*QUINTA SECTION*/
.secPresidente{
    background-color: #e6f3ec;
    padding: 60px 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    color: var(--cor4);
}
.secPresidente img{
    width: 400px;
    border-radius: 50% 50% 40% 40%;
    object-fit: cover;
}

.textoPresidente{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
}
.textoPresidente h1{
    font-size: 2.5em;
    text-align: start;
    font-weight: bold;
}
.textoPresidente p {
    line-height: 1.6;
    font-size: 1em;
    text-align: justify;
}
.textoDestaque{
  font-weight: bolder;
}
